.view {
  margin-top: 10px;
  user-select: none;
  &-btn {
    border: none;
    outline: none;
    width: 65px;
    height: 35px;
    padding: 0 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    float: right;
    background-color: #666;
    &:hover:not(.active) {
      color: white;
    }
    &.active {
      background-color: #ddd;
    }
  }
  &::after {
    content: '';
    display: block;
    clear: right;
  }
  svg {
    font-size: 20px;
    margin-right: 5px;
  }
}
